[submodule "emacs-test-unit"]
	path = emacs-test-unit
	url = http://github.com/rocky/emacs-test-unit.git
[submodule "emacs-loc-changes"]
	path = emacs-loc-changes
	url = http://github.com/rocky/emacs-loc-changes.git
[submodule "emacs-load-relative"]
	path = emacs-load-relative
	url = http://github.com/rocky/emacs-load-relative.git
